/*--------------COLORS-------------*/
:root {
  --green: #569b1b;
  --light-green: #6aba24;
  --tan: #eadbbc;
  --white: #ffffff;
  --black: #000000;
  --border-radius: 0.4rem;
}
/*----------------------------------*/

html, 
body {
  margin: 0;
}

html {
  background-image: url("../images/d.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "DM Sans", "Roboto", sans-serif;
}

html::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "navbar navbar"
    "logo logo"
    "what how"
    "section1 section1"
    "side1 side2"
    "section2 section2"
    "section3 section3"
    "section4 section4"
    "footer footer";
  gap: 1.5rem;
  padding: 1.5rem;
}

.header-container {
  grid-area: logo;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.title h1 {
  font-family: "DM Sans", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 7rem;
  color: var(--white);
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 4.5px;
}

.logo {
  grid-area: logo;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.parallax {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.parallax-logo {
  text-align: center;
  width: 50%;
  font-size: 5rem;
  color: var(--white);
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav {
  grid-area: navbar;
  z-index: 1000;
  border-radius: var(--border-radius);
  padding: 0.8rem 0;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.4rem;
}

.nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.nav ul li a:hover  {
  transition: all 0.4s ease;
  background-color: var(--green);
  border-radius: 2rem;
  cursor: pointer;
}

.nav ul li {
  margin: 0 2rem;
}

.green-text {
  color: var(--green);
  font-weight: bold;
}

.what {
  grid-area: what;
  opacity: 0.9;
  font-size: 2rem;
  background-color: var(--tan);
  padding: 2rem;
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: 500;
  box-shadow: var(--black) 0px 0px 10px 0px;
}

.how {
  grid-area: how;
  opacity: 0.9;
  font-size: 2rem;
  background-color: var(--tan);
  padding: 2rem;
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: 500;
  box-shadow: var(--black) 0px 0px 10px 0px;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.9s ease-out;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}

.charity-list {
  grid-area: section1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "one two three"
    "four five six";
  gap: 1rem;
  padding: 5px;
}

.charity-button {
  width: 50%;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--green);
  border: none;
  font-family: "DM Sans";
  color: #f3f3f3;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);

  /* across transition */
  background: linear-gradient(to right, var(--light-green) 0%, var(--light-green) 50%, var(--green) 50%, var(--green) 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease;
}

.charity-button:hover {
  background-position: 0 0;
  cursor: pointer;
}

.wwf a {
  font-size: 0.3rem;
}

.wwf,
.greenpeace,
.conservancy,
.oceana,
.forest,
.lakes {
  font-size: 1.5rem;
  font-weight: 550;
  color: var(--black);
  background-color: var(--tan);
  border-radius: var(--border-radius);
  text-align: center;
  padding: 2rem;
  transition: all 0.3s ease;
  box-shadow: var(--black) 0px 0px 10px 0px;
}

.wwf:hover,
.greenpeace:hover,
.conservancy:hover,
.oceana:hover,
.forest:hover,
.lakes:hover {
  transform: translateY(-7px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.wwf {
  grid-area: one;
}

.greenpeace {
  grid-area: two;
}

.conservancy {
  grid-area: three;
}

.oceana {
  grid-area: four;
}

.forest {
  grid-area: five;
}

.lakes {
  grid-area: six;
}

.wwf a,
.greenpeace a,
.conservancy a,
.oceana a,
.forest a,
.lakes a {
  font-size: 1.6rem;
  font-weight: 700;
}

.img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

/*---------HOME: DONATION SECTION----------*/

.donation-section,
.media-section {
  grid-area: section1;
  display: flex;
  align-items: center;
  opacity: 0.9;
  font-size: 2rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  text-align: center;
}

.donation-section p,
.media-section p {
  color: var(--white);
  font-weight: 500;
  margin: 3rem;
}

/*---------HOME: OPPORTUNITIES SECTION----------*/

.opportunities-section,
.educational-section {
  grid-area: section2;
  display: flex;
  align-items: center;
  opacity: 0.9;
  font-size: 2rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  text-align: center;
  background-color: var(--tan);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.opportunities-section p,
.educational-section p {
  color: var(--black);
  font-weight: 500;
  margin: 3rem;
}

/*---------HOME: MEDIA SECTION----------*/

.media-section {
  grid-area: section3;
}

/*---------HOME: EDUCATIONAL SECTION----------*/

.educational-section {
  grid-area: section4;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------*/


/*------------EDUCATIONAL PAGE-------------*/
.featured-resource {
  grid-area: section1;
  font-weight: 550;
  color: var(--black);
  background-color: var(--tan);
  border-radius: var(--border-radius);
  text-align: center;
  transition: all 0.6s ease;
  box-shadow: var(--black) 0px 0px 10px 0px;
}

.featured-resource h2 {
  color: var(--black);
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  font-size: 3rem;
  border-bottom: 2px solid var(--black);
  margin-top: 20px;
}

.featured-resource h3 {
  font-size: 2.5rem;
}

.featured-resource h4 {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: lighter;
  font-style: italic;
  padding-bottom: 1rem;
}

.featured-resource p {
  font-size: 1.6rem;
  padding: 2rem;
}

.resource-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
}

.resource-content img {
  width: 40%;
  height: auto;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.resource-content {
  flex: 1;
  padding: 1.7rem;
  text-align: center;
}

.resource-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.resource-button {
  width: 40%;
  height: auto;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--green);
  border: none;
  font-family: "DM Sans";
  color: #f3f3f3;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
  /* across transition */
  background: linear-gradient(to right, var(--light-green) 0%, var(--light-green) 50%, var(--green) 50%, var(--green) 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease;
}

.resource-button:hover {
  background-position: 0 0;
  cursor: pointer;
}

.more-resources1{
  grid-area: side1;
  font-weight: 550;
  color: var(--black);
  background-color: var(--tan);
  border-radius: var(--border-radius);
  text-align: center;
  transition: all 0.6s ease;
  box-shadow: var(--black) 0px 0px 10px 0px;
}

.more-resources2 {
  grid-area: side2;
  font-weight: 550;
  color: var(--black);
  background-color: var(--tan);
  border-radius: var(--border-radius);
  text-align: center;
  transition: all 0.6s ease;
  box-shadow: var(--black) 0px 0px 10px 0px;
}

.more-resources1 h2,
.more-resources2 h2 {
  font-size: 3rem;
  border-bottom: 2px solid var(--black);
  margin-top: 20px;
  padding-bottom: 20px;
}

.more-resources1 h3,
.more-resources2 h3 {
  font-size: 2rem;
  padding-top: 0;
  margin-top: 0;
}

.more-resources1 h4,
.more-resources2 h4 {
  font-size: 1.4rem;
  font-weight: lighter;
  font-style: italic;
}

.more-resources1 p,
.more-resources2 p {
  font-size: 1.4rem;
  padding: 2rem
}

.media-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
}

.media-content img {
  width: 40%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.media-content {
  flex: 1;
  padding: 1.7rem;
  text-align: center;
}

.social-button {
  width: 40%;
  height: auto;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--green);
  border: none;
  font-family: "DM Sans";
  color: #f3f3f3;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
  /* across transition */
  background: linear-gradient(to right, var(--light-green) 0%, var(--light-green) 50%, var(--green) 50%, var(--green) 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease;
}

.social-button:hover {
  background-position: 0 0;
  cursor: pointer;
}

.featured-resource:hover,
.more-resources1:hover,
.more-resources2:hover {
  transform: translateY(-7px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}


/*--------------------------------------------*/

/* Buttons styling */
.donate-button,
.opportunities-button,
.media-button,
.educational-button {
  width: 40%;
  height: auto;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--green);
  border: none;
  font-family: "DM Sans";
  color: #f3f3f3;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);

  /* across transition */
  background: linear-gradient(to right, var(--light-green) 0%, var(--light-green) 50%, var(--green) 50%, var(--green) 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease;
}

.donate-button:hover,
.opportunities-button:hover,
.media-button:hover,
.educational-button:hover {
  background-position: 0 0;
  cursor: pointer;
}

/* Images in sections */
.donation-section img,
.opportunities-section img,
.media-section img,
.educational-section img {
  width: 40%;
  height: auto;
  border-radius: 0.5rem;
}

/*----- Start Parallax -----*/
.parallax {
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-logo img {
  width: 100%;
  height: auto;
  align-items: center;
}

/* Hamburger Menu Styles */
.hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px;
  z-index: 10;
  position: relative;
  margin: 0 auto;
}

.bar1,
.bar2,
.bar3 {
  width: 28px;
  height: 4px;
  background-color: var(--green);
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 3px;
}

/* Rotate the bars to form an X when the menu is active */
.active .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

/*---------MOBILE SCREEN SIZES----------*/
@media screen and (max-width: 1200px) {
  html {
    background-size: cover;
    background-attachment: fixed;
  }

  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "logo"
      "what"
      "how"
      "section1"
      "side1"
      "side2"
      "section2"
      "section3"
      "section4"
      "footer";
  }

  .parallax-logo {
    width: 70%;
  }

  .charity-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine";
  }

  .title h1 {
    font-size: 5rem;
  }

  .logo {
    grid-area: logo;
    padding: 2rem;
  }

  .nav {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(212, 212, 212);
    z-index: 1000;
    border-radius: 0.3rem;
    text-align: center;
  }

  .hamburger-menu {
    display: block;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    /* Center it within the nav */
    left: auto;
    right: auto;
  }

  .nav ul li a {
    text-decoration: none;
    color: var(--green);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }

  .nav ul#nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(212, 212, 212);
    flex-direction: column;
    display: flex;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
  }

  .nav ul#nav-menu.show {
    grid-area: nav;
    max-height: 700px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  #nav-menu li {
    width: 100%;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .nav ul#nav-menu li a {
    display: block;
    padding: 15px;
    align-items: center;
  }

  .nav ul#nav-menu li:last-child {
    border-bottom: none;
  }

  .hamburger-menu.active .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }

  .hamburger-menu.active .bar2 {
    opacity: 0;
  }

  .hamburger-menu.active .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .what {
    font-size: 2rem;
    padding: 1rem;
  }

  .what h2 {
    font-size: 2.5rem;
    padding: 1rem;
  }

  .how {
    font-size: 2rem;
    padding: 1rem;
  }

  .how h2 {
    font-size: 2.5rem;
    padding: 1rem;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  .nav ul li {
    width: 100%;
    text-align: center;
  }

  .parallax {
    height: auto;
    min-height: 30vh;
  }

  .donation-section,
  .opportunities-section,
  .media-section,
  .educational-section {
    flex-direction: column;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .donation-section img,
  .opportunities-section img,
  .media-section img,
  .educational-section img {
    width: 70%;
    margin-bottom: 1rem;
    order: -1;
  }

  .donation-section p,
  .opportunities-section p,
  .media-section p,
  .educational-section p {
    font-size: 2rem;
    margin: 1rem;
  }

  .donate-button,
  .opportunities-button,
  .media-button,
  .educational-button {
    width: 35%;
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .resource-container {
    flex-direction: column;
  }
  
  .resource-content img {
    flex: 0 0 100%;
    width: 65%;
  }

  .featured-resource h2 {
    font-size: 2.2rem;
  }

  .featured-resource h3 {
    font-size: 1.7rem;
  }

  .featured-resource p {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .resource-button {
    width: 40%;
    height: auto;
    font-size: 1.3rem;
    padding: 1rem;
    
  }

  .more-resources1 h2,
  .more-resources2 h2 {
    font-size: 3rem;
    border-bottom: 2px solid var(--black);
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .more-resources1 h3,
  .more-resources2 h3 {
    font-size: 2rem;
    padding-top: 0;
    margin-top: 0;
  }

  .more-resources1 h4,
  .more-resources2 h4 {
    font-size: 1.4rem;
    font-weight: lighter;
    font-style: italic;
  }

  .more-resources1 p,
  .more-resources2 p {
    font-size: 1.4rem;
    padding: 2rem
  }
}

/* Small phones */
@media screen and (max-width: 550px) {
  html {
    background-size: cover;
    background-attachment: fixed;
  }

  .title h1 {
    font-size: 2.5rem; /* Increase from current 2rem */
    line-height: 1.1; /* Tighten line spacing */
  }

  .nav {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(212, 212, 212);
    z-index: 1000;
    text-align: center;
  }

  /* Match the styles from the larger breakpoint */
  .hamburger-menu {
    display: block;
    margin: 10px auto;
    padding: 10px;
    position: relative;
  }

  .nav ul#nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(212, 212, 212);
    flex-direction: column;
    display: flex;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);
  }

  .nav ul#nav-menu.show {
    max-height: 300px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  #nav-menu li {
    width: 100%;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .nav ul#nav-menu li a {
    font-size: 1rem;
    padding: 15px;
    align-items: center;
  }

  .parallax-logo {
    height: auto;
    width: 70%;
  }

  .what {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .what h2 {
    font-size: 1.5rem;
    padding: 0.8rem;
  }

  .how {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .how h2 {
    font-size: 1.5rem;
    padding: 0.8rem;
  }

  .donation-section,
  .opportunities-section,
  .media-section,
  .educational-section {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .donation-section p,
  .opportunities-section p,
  .media-section p,
  .educational-section p {
    font-size: 1rem;
    margin: 1rem;
  }

  .donate-button,
  .opportunities-button,
  .media-button,
  .educational-button {
    width: 50%;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .wwf,
  .greenpeace,
  .conservancy,
  .oceana,
  .forest,
  .lakes {
    font-size: 1.1rem;
    font-weight: 550;
    color: var(--black);
    background-color: var(--tan);
    opacity: 0.9;
    border-radius: var(--border-radius);
    text-align: center;
    padding: 2rem;
  }

  .wwf a,
  .greenpeace a,
  .conservancy a,
  .oceana a,
  .forest a,
  .lakes a {
    font-size: 1.3rem;
  }

  .resource-container {
    flex-direction: column;
  }
  
  .resource-content img {
    flex: 0 0 100%;
    width: 80%;
  }

  .featured-resource h2 {
    font-size: 1.9rem;
  }

  .featured-resource h3 {
    font-size: 1.4rem;
  }

  .featured-resource h4 {
    font-size: 0.8rem;
  }

  .featured-resource p {
    font-size: 1rem;
    padding: 0rem;
  }

  .resource-button {
    width: 40%;
    height: auto;
    font-size: 1.1rem;
    padding: 1rem;
  }

  .more-resources1 h2,
  .more-resources2 h2 {
    font-size: 1.7rem;
    border-bottom: 2px solid var(--black);
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .more-resources1 h3,
  .more-resources2 h3 {
    font-size: 1.4rem;
    padding-top: 0;
    margin-top: 0;
  }

  .more-resources1 h4,
  .more-resources2 h4 {
    font-size: 0.8rem;
    font-weight: lighter;
    font-style: italic;
  }

  .more-resources1 p,
  .more-resources2 p {
    font-size: 1rem;
    padding: 0rem;
  }
}
